<% provide(:title, @user.name) %>

<div class = "show_page">

	<%= render 'shared/aside' %>

	<div class = "col-md-8 albums">
		<% if @user.albums.any? %>
			<div class = "topic">Albums</div>

				<%= render @albums %>

		<% else %>
			<% if current_user?(@user) %>
				<div class = "topic">You don't post any albums!</div>
				<%= link_to "Create Album", new_album_url , class: "btn btn-primary btn-yellow-narrow" %>
			<% else %>
				<div class = "topic"><%= @user.name %> doesn't post any albums!</div>
			<% end %>
		<% end %>
	</div>

	<div class = "col-md-8 tree">
		<div class = "topic">Life Tree</div>
	</div>

</div>