@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: 'Arial';
	color: #000000;
	background: #307dac;
	background: -webkit-linear-gradient(left, #307dac , #a2d189); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #307dac , #a2d189); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #307dac , #a2d189); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #307dac , #a2d189);
}

/* forms */
input, textarea, select, .uneditable-input{
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	
}

input{
	height: auto !important;
}

.error_explanation{
	color: red;
	ul{
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors{
	@extend .has-error;
	.form-control{
		color: $state-danger-text;
	}
}

.logo{
	text-align: center;
	font-family: 'Snell Roundhand';
	font-size: 90px;
	font-weight: bold;
	color: #000000;
}

.sign-up{
	text-align: center;
	font-family: 'Copperplate';
	font-size: 50px;
	color: #000000;
}

.btn-yellow{
	color: #000000;
	width: 100%;
	background-color: #e1d12b;
}

.btn-yellow-narrow{
	color: #000000;
	width: 40%;
	background-color: #e1d12b;
}

.btn-yellow-tiny{
	color: #000000;
	width: 15%;
	background-color: #e1d12b;
}


/*--------------------------------- shared / aside  -------------------------------*/
.aside{

	position: fixed;
	width: 12%;
	height: 100%;
	padding: 18px 0;
	border-right: 1px solid #ffffff;
	background-color: #307dac;
	.aside_item{
		width: 100%;
	}
	.aside_item{
		text-align: center;
		font-family: 'Copperplate';
		font-size: 20px;
		margin: 5px 0;
		a{
			color: #000000;
			text-decoration: none;
		}
	}
	.aside_logo{
		font-family: 'Snell Roundhand';
		font-size: 40px;
		font-weight: bold;
	}
	.aside_headpic{
		img{
			display: block;
			margin: auto;
			box-shadow: 2px 2px 3px #333333;
		}
		.headpic{
			width: 60px;
			height: 60px;
			background-size: cover;
			display: block;
			border-radius: 100px;
		}
	}
	.aside_bottom{
		position: absolute;
		bottom: 0;
		.dropdown-menu{
			background-color: #307dac;
			padding: 0;
		}
		.aside_drop_item{
			background-color: #307dac;
			a{
				background-color: #307dac;
				color: #e1d12b;
			}
			a:hover{
				color: #000000;
			}
		}
		.divider{
			margin: 0;
		}
	}
	a:hover{
		color:#e1d12b;
	}
	.search_bar{
		.btn-search{
			display: block;
			height: 29px;
		}
		input{

			font-size: 11px;
		}
		padding: 0 2px;
	}
}

/*--------------------------------- user show page -------------------------------*/
.show_page{
	height: 100vh;
	margin: 0;
	padding: 0;
	.col-md-8{
		width: 44%;
		padding: 0;
	}
	.albums{
		border-right: 2px solid #808080;
		text-align: center;
		padding: 15px 0;
		margin-left: 12%;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 10px;
		}
	}
	.tree{
		text-align: center;
		height: 100%;
		margin-left: 56%;
		padding: 15px 0;
		position: fixed;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 10px;
		}
	}
}

/*--------------------------------- album column in user show page -------------------------------*/
.album{
	margin: auto;
	margin-bottom: 10px;
	padding: 0;
	width: 304px;
	height: 400px;
	border: 2px solid #dfcf20;
	.album_past{
		position: relative;
		width: 300px;
		height: 400px;
		margin: auto;
		.left-top{
			float: left;
			height: 50px;
			width: 50px;
			margin: 0px;
			padding-left: 5px;
			padding-top: 5px;
			img{
				display: block;
				margin: auto;
				box-shadow: 2px 2px 3px #333333;
				width: 40px;
				height: 40px;
				background-size: cover;
				display: block;
				border-radius: 100px;
			}
		}
		.right-top{
			float: left;
			width: 250px;
			height: 50px;
			padding-top: 3px;
			.datetime{
				letter-spacing: 2px;
				font-size: 14px;
				font-family: Arial Hebrew Scholar;
			}
			.name{
				font-size: 20px;
				font-family: Ayuthaya;
			}
		}
		.middle{
			float: left;
			width: 300px;
			height: 300px;
			border-top: 1px solid #808080;
			border-bottom: 1px solid #808080;
			background-color: #ffbb80;
		}
		.bottom{
			float: left;
			width: 300px;
			height: 50px;
			margin-top: 5px;
			.action{
				display: inline-block;
				.btn-past{
					font-family: Copperplate;
					background-color: #339966;
					color: #000000;
				}
				.btn-delete{
					font-family: Copperplate;
					background-color: #ff5050;
					color: #000000;
				}
			}
		}
	}

	.album_present{
		position: relative;
		width: 300px;
		height: 400px;
		margin: auto;
		.left-top{
			float: left;
			height: 50px;
			width: 50px;
			margin: 0px;
			padding-left: 5px;
			padding-top: 5px;
			img{
				display: block;
				margin: auto;
				box-shadow: 2px 2px 3px #333333;
				width: 40px;
				height: 40px;
				background-size: cover;
				display: block;
				border-radius: 100px;
			}
		}
		.right-top{
			float: left;
			width: 250px;
			height: 50px;
			padding-top: 3px;
			.datetime{
				letter-spacing: 2px;
				font-size: 14px;
				font-family: Arial Hebrew Scholar;
			}
			.name{
				font-size: 20px;
				font-family: Ayuthaya;
			}
		}
		.middle{
			float: left;
			width: 300px;
			height: 300px;
			border-top: 1px solid #808080;
			border-bottom: 1px solid #808080;
			
		}
		.bottom{
			float: left;
			width: 300px;
			height: 50px;
			margin-top: 5px;
			.action{
				display: inline-block;
				.btn-now{
					font-family: Copperplate;
					background-color: #339933;
					color: #000000;
				}
				.btn-delete{
					font-family: Copperplate;
					background-color: #ff5050;
					color: #000000;
				}
			}
		}
	}
}

.album:hover{
	border: 2px solid #000000;
}

/* log in page */
.slogan{
	text-align: center;
	font-family: 'Arial Narrow';
	font-size: 40px;
	color: #000000;
}

.sub_slogan{
	text-align: center;
	font-family: 'Copperplate';
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

.text{
	text-align: center;
}

/*--------------------------------- album new page -------------------------------*/
.create_album_page{
	height: 100vh;
	margin: 0;
	padding: 0;
	.col-md-8{
		width: 88%;
		height: 100%;
		padding: 0;
	}
	.create_album{
		text-align: center;
		padding: 15px 0;
		margin-left: 12%;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 15px;
		}
		.field{
			margin: auto;
			width: 40%;
			.album_name{
				font-size: 20px;
				font-family: 'Copperplate';
				font-weight: bold;
				height: 35px;
				margin-top: 5px;
			}
			.album_description{
				margin-top: 5px;
				font-size: 20px;
				font-family: 'Copperplate';
				height: 105px;
			}
		}
	}
}

/*--------------------------------- album edit page -------------------------------*/
.edit_album_page{
	height: 100vh;
	margin: 0;
	padding: 0;
	.col-md-8{
		width: 88%;
		height: 100%;
		padding: 0;
	}
	.edit_album{
		text-align: center;
		margin-left: 12%;
		padding: 15px 0;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 15px;
		}
		.field{
			margin: 0 auto;
			width: 40%;
			.album_name{
				font-size: 20px;
				font-family: 'Copperplate';
				font-weight: bold;
				height: 35px;
				margin-top: 5px;
			}
			.album_description{
				margin-top: 5px;
				font-size: 20px;
				font-family: 'Copperplate';
				height: 105px;
			}
		}
	}
}

/*--------------------------------- album show page -------------------------------*/
.container{
	padding: 0;
	.gallery{
		font-family: 'Georgia', 'Arial', sans-serif;
		.gallery-nav{
			border-bottom: 1px solid #777;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin: 10px auto;
			.gallery-name{
				display: inline-block;
				font-family: 'Copperplate';
				text-align: center;
				width: 33%;
				h2{
					color: #000000;
					font-size: 3em;
					padding: 0 0 10px;
					margin: 0px;	
				}
			}
			.gallery-back{
				display: inline-block;
				width: 33%;
				a{
					float: left;
				}
			}
			.gallery-add{
				display: inline-block;
				width: 33%;
				a{
					float: right;
				}
			}
		}

		img{
			display: block;
			max-width: 100%;
			max-height: 300px;
			width: auto;
			height: auto;
			margin: auto;
		}
		.rows{
			text-align: center;
		}
		.col-md-3{
			padding: 0;
		}
		.photo{
			position: relative;
		}
		.photo,
		.photo-hover,
		.photo-hover .mask,
		.photo-info,
		.photo-img{
			padding: 0;
			width: 100%;
			height: 300px;
		}
		.photo-img,
		.photo-hover,
		.photo-hover .mask{
			position: absolute;
			top: 0;
			left: 0;
		}
		.photo-type-line .photo-hover{
			z-index: 100;
			transition: all 300ms ease-out;
			opacity: 0;
			cursor: pointer;
			display: block;
		}
		.photo-type-line .photo-info{
			z-index: 10;
			color: #fff;
			vertical-align: middle;
			position: relative;
			margin: auto;
			padding-top: 50px;
		}
		.photo-type-line .photo-info .photo-id{
			font-size: 20px;
			text-align: center;
		}
		.photo-type-line .photo-info .line{
			height: 1px;
			width: 0%;
			margin: auto;
			background-color: #fff;
			transition: all 500ms ease-out;
			margin-top: 50px;
		}
		.photo-type-line .photo-info .photo-delete{
			font-size: 20px;
			text-align: center;
			margin-top: 50px;
		}
		.photo-type-line .photo-hover .mask{
			background-color: #000;
			filter: alpha(opacity=50);
			opacity: 0.5;
			z-index: 0;
		}

		.photo-type-line .photo-hover:hover .line{
			width: 60%;
		}
		.photo-type-line .photo-hover:hover{
			opacity: 1;
		}
		.photo-img{
			background: #696969;
			z-index: 0;
			img{
				vertical-align: middle;
			}
		}
		.photo-img:before{
			height: 100%;
			display: block;
			vertical-align: middle
		}
	}
}

/*--------------------------------- User Friend page -------------------------------*/
.friend_page{
	height: 100vh;
	margin: 0;
	padding: 0;
	.col-md-8{
		width: 88%;
		height: 100%;
		padding: 0;
	}
	.friends{
		text-align: center;
		padding: 15px 0;
		margin-left: 12%;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 15px;
		}
		.nav-pills{
			display: inline-table;
			width: 30%;
			margin-bottom: 20px;
			.tab{
				width: 48%;
				display: inline;
				box-shadow: 2px 2px 3px #333333;
				border: 1px solid #000000;
				border-radius: 5px;
				a{
					font-family: 'Copperplate';
					font-size: 16px;
					color: #000000;
				}
			}
		}
		.tab-topic{
			width: 60%;
			height: 30px;
			margin: auto;
			border-bottom: 1px solid #777;
			position: relative;
			display: block;
			.item{
				display: inline-block;
				font-family: 'Copperplate';
				font-size: 20px;
			}
			.name{
				position: absolute;
				left: 5%;
			}
			.past_relation{
				position: absolute;
				left: 37%;
			}
			.present_relation{
				position: absolute;
				left: 67%;
			}
		}
		.tab-content{
			width: 60%;
			margin: auto;
			.list{
				position: relative;
				height: 50px;
				margin-top: 5px;
				img{
					display: block;
					box-shadow: 2px 2px 3px #333333;
					width: 40px;
					height: 40px;
					background-size: cover;
					display: block;
					border-radius: 100px;
				}
				.headpic{
					display: inline-block;
					width: 10%;
					position: absolute;
					left: 5%;
					top: 10%;
				}
				.name{
					display: inline-block;
					width: 20%;
					font-family: 'Copperplate';
					font-size: 15px;
					position: absolute;
					left: 15%;
					top: 29%;
					a{
						color: #000000;
						text-decoration: none;
					}
					a:hover{
						color: #e1d12b;
					}
				}
				.past{
					position: absolute;
					left: 33%;
					top: 20%;
					width: 30%;
					height: 31px;
					.action_choice{
						display: inline-block;
						width: 45%;
					}
				}
				.present{
					position: absolute;
					left: 65%;
					top: 20%;
					width: 30%;
					height: 31px;
					.action_choice{
						display: inline-block;
						width: 45%;
					}
				}
				.cus{
					width: 80% !important;
					font-size: 12px;
					font-family: 'Copperplate'
				}
				.cus-ac{
					font-size: 12px;
					font-family: 'Copperplate'
				}
			}
		}
	}
}

/*--------------------------------- user edit page -------------------------------*/
.user_edit_page{
	height: 100vh;
	margin: 0;
	padding: 0;
	.col-md-8{
		width: 88%;
		height: 100%;
		padding: 0;
	}
	.user_edit{
		text-align: center;
		padding: 15px 0;
		margin-left: 12%;
		.topic{
			font-size: 30px;
			font-family: 'Copperplate';
			font-weight: bold;
			color: #000000;
			margin-bottom: 10px;
		}
		.edit_form{
			width: 40%;
			margin: auto;
			.headpic_update{
				margin-top: 10px;
				border: none;
				color: #ffd700;
			}
			label{
				margin: 0;
				letter-spacing: 2px;
			}
			img{
				width: 160px;
				height: 160px;
				border-radius: 100px;
				image-orientation: from-image;
				box-shadow: 2px 2px 3px #333333; 
			}
			input{
				text-align: center;
			}
			.btn-blue{
				color: #ffd700;
				letter-spacing: 2px;
				font-family: Apple LiGothic;
				font-size: 16px;
				background-color: #000080;
			}
		}
	}
}








